@{
    ViewData["Title"] = "Home Page";
}
   <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/FUTURE2.jpg" alt="ASP.NET" class="img-responsive" style="width:100%"/>
      </div>
    </div><br />
   <div class="container body-content panel-body">
       <div class="row">
           <div class="col-md-3">
               <i class="fa fa-desktop" style="font-size:24px"> DESKTOP</i>
               <p>
                   <br />
                   We develop transaction intensive server/client solutions. Including REST services for third party integrators, CCTV and PBXs.
               </p>
           </div>

           <div class="col-md-3">
               <i class="fa fa-mobile" style="font-size:24px"> MOBILE</i>
               <p>
                   <br />
                   Always thinking mobile first when developing web applications, a responsive web app is always superior to three native apps.
               </p>
           </div>
           <div class="col-md-3">
               <i class="fa fa-firefox" style="font-size:24px"> WEB</i>
               <p>
                   <br />
                   We write cutting-edge HTML, CSS, and Javascript on a daily basis. Our ambition and passion – making the web a better place.
               </p>
           </div>

           <div class="col-md-3">
               <i class="fa fa-cloud" style="font-size:24px"> CLOUD</i>
               <p>
                   <br />
                   Being a Microsoft Cloud Partner we can help you grow without worrying about your infrastructure and guarantee availability.
               </p>
           </div>
       </div>
   </div>
